<header class="">
<!-- Header Text Line -->
<section class="headertopwrap">
<div class="headertop">
<div class="row">
<div class="span6 headerlefttext">
<div class="headerleftwrap"><div class="headerleftinner"><div class="widget-1  first widget_text headerleftwidget" id="text-6">			<div class="textwidget"><span class=" icon_wrap">
<span class="icon-phone"></span>(0212)735-1320
</span>
<span class=" icon_wrap">
<a href="#"><span class="icon-mail"></span>info@administradoranuevohogar.com.ve</a>
</span></div>
<div class="clear"></div></div><div class="widget-2  last widget_text headerleftwidget" id="text-7">			<div class="textwidget"><div class="icl_languages_selector">

</div></div>
<div class="clear"></div></div></div><div class="clear"></div></div>
</div>
<div class="span6 headerrighttext">
<div class="headerleftwrap"><div class="headerleftinner"><div style="float:right" class="widget-1  first velocitySocials headerrightwidget" id="velocitysocials-3"><div class="social"><ul><li><a data-placement="bottom" data-animation="false" data-rel="tooltip" class="so_facebook" target="_blank" href="#" data-original-title="Facebook"><div class="s_icon social-facebook"></div></a></li><li><a data-placement="bottom" data-animation="false" data-rel="tooltip" class="so_twitter" target="_blank" href="#" data-original-title="Twitter"><div class="s_icon social-twitter"></div></a></li><li><a data-placement="bottom" data-animation="false" data-rel="tooltip" class="so_linkedin" target="_blank" href="#" data-original-title="LinkedIn"><div class="s_icon social-linkedin"></div></a></li><li><a data-placement="bottom" data-animation="false" data-rel="tooltip" class="so_gplus" target="_blank" href="#" data-original-title="Google+"><div class="s_icon social-gplus"></div></a></li><li><a data-placement="bottom" data-animation="false" data-rel="tooltip" class="so_pinterest" target="_blank" href="#" data-original-title="Pinterest"><div class="s_icon social-pinterest"></div></a></li><li><a data-placement="bottom" data-animation="false" data-rel="tooltip" class="so_rss" target="_blank" href="#" data-original-title="RSS"><div class="s_icon social-rss"></div></a></li></ul></div><div class="clear"></div></div></div><div class="clear"></div></div>
</div>
</div>
</div>
</section>
<!-- Header Logo and Menu -->
<section class="headerwrap">
<div class="header span12">
<div style="width:px" data-hh="" data-ww="" class="logo">
    <a href="{{constant('ROOT')}}">
        <img alt="" src="{{constant('ROOT')}}uploads/2014/01/logo.png">
    </a>
</div>
<nav class="mainmenu">
<div class="navigation" id="mainmenu">
<ul class="toplevel" id="menu-navigation">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children current-menu-item page_item "><a href="{{constant('ROOT')}}" class="menu-link ">Inicio</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children empresa"><a href="{{constant('ROOT')}}empresa.html" class="menu-link ">Nuestra Empresa</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children servicios"><a href="{{constant('ROOT')}}servicios.html" class="menu-link ">Servicios</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children inmobiliaria"><a href="{{ constant('ROOT') }}inmobiliaria/publicaciones.html" class="menu-link ">Inmobiliaria</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children "><a href="#" class="menu-link ">Condominio en Línea</a>
<div class="clear"></div>
<div class="megamenu">
<ul class="sub-menu megamenu-item megamenuwidget_container sidebar ">
<li class="menu-item menu-item-type-custom menu-item-object-custom megamenuwidgets">
<div class="widget-1  widget widget_text">
<div class="footertitle"><h4>Consultas en línea</h4></div>
<div class="textwidget">Ponemos a su disposición un avanzado sitema para mantenerlo informado en todo momento!<br>
Realice operaciones sobre su cuenta de condomnio desde su casa u oficina, con su
computador personal, teléfono celular o tablet.
</div>
<div class="clear"></div>
</div>
</li>
</ul>
<ul class="sub-menu megamenu-item megamenuwidget_container sidebar ">
<li class="menu-item menu-item-type-custom menu-item-object-custom megamenuwidgets">
<div class="widget-2  widget widget_text">
<div class="footertitle"><h4>Funciones principales</h4></div>
<div class="textwidget">
<i class="icon-check checkicon highlightcolor"></i>Consulta estado de cuenta<br>
<i class="icon-check checkicon highlightcolor"></i>Consulta aviso de cobro<br>
<i class="icon-check checkicon highlightcolor"></i>Actualización datos de contacto<br>
<i class="icon-check checkicon highlightcolor"></i>Reporte pago de condominio<br>
<i class="icon-check checkicon highlightcolor"></i>Consulta recibos de condomino<br>
<i class="icon-check checkicon highlightcolor"></i>Consulta esta de cuenta general<br>
<i class="icon-check checkicon highlightcolor"></i>Disponible las 24 horas del día
</div>
<div class="clear"></div>
</div>
</li>
</ul>
<ul class="sub-menu megamenu-item megamenuwidget_container sidebar ">
<li class="menu-item menu-item-type-custom menu-item-object-custom megamenuwidgets">
<div id="woocommerce_product_search-4" class="widget-1  widget woocommerce widget_product_search">
<div class="footertitle"><h4>Propietario Registrado</h4></div>
<form class="woocommerce-product-search" name="login" autocomplete="off">
<label class="screen-reader-text" for="s">Acceso</label>
<input type="text" class="search-field" placeholder="Código Usuario" name="cedula" id="cedula" title="Codigo Usuario">
<input type="text" class="search-field" placeholder="Clave" name="password" title="Clave" id="password">
<div id="success"></div>
<input type="submit" value="Entrar">
</form>
<div class="clear"></div></div></li>
</ul>
</div>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children contacto"><a href="{{constant('ROOT')}}contacto.html" class="menu-link ">Contácto</a><div class="clear"></div></li>
</ul>
</div>
</nav>
<!-- Responsive Main Menu -->
<div class="row mobilemenu">
<div class="icon-menu"></div>
<form method="post" action="#" id="responsive-menu">
<select>
<option value="">Menu</option>
</select>
</form>
</div>
</div>
</section>
<div class="clear"></div>
</header>