<div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
<div class="container">
<div class="navbar-header">
<button type="button" class="hidden-xs navbar-toggle navbar-toggle-aside-menu">
<i class="fa fa-outdent icon-custom"></i>
</button>
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<i class="fa fa-bars icon-custom"></i>
</button>

<a class="navbar-brand" href="index.html" title="Administradora de Condominios Nuevo Hogar">
<img src="{{ constant('ROOT') }}images/logo.png" alt="Administradora Nuevo Hogar | más cerca de usted">
</a>
</div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav navbar-right">
<li class="dropdown">
<a href="{{ constant('ROOT') }}" class="dropdown-toggle">Inicio</a>
</li>
<li class="dropdown">
<a href="{{ constant('ROOT') }}administracion-condominio.html" class="dropdown-toggle">Por qué elegirnos</a>
</li>
<li class="dropdown">
<a href="{{ constant('ROOT') }}servicios.html" class="dropdown-toggle">Servicios   </a>
</li>
<li class="dropdown">
<a href="{{ constant('ROOT') }}contacto.html" class="dropdown-toggle">Contáctenos</a>
</li>
<li class="dropdown">
<a href="{{ constant('ROOT') }}inmobiliaria/publicaciones.html" class="dropdown-toggle">Inmobiliaria</a>
</li>
<li class="dropdown">
<a href="{{ constant('ROOT') }}login.html" class="dropdown-toggle">Acceso</a>
</li>
<li class="dropdown">
<a href="{{ constant('ROOT') }}empresa.html" class="dropdown-toggle">Quienes Somos</a>
</li>
</ul>
</div><!--/.nav-collapse -->
</div>
</div>