{% extends 'layout/base.html.twig'%}
{% block titulo propiedad[0].titulo %}
{% block seo %}
<meta keywords content="Inmobiliaria, {{propiedad[0].operacion}} {{propiedad[0].Tipo}}, {{propiedad[0].Tipo}} {{propiedad[0].zona}} {{propiedad[0].operacion}}">
<meta name="description" content="{{propiedad[0].titulo}}, {{propiedad[0].operacion}} {{propiedad[0].Tipo}} en {{propiedad[0].zona}}">
{% endblock %}
{% block contenido %}
<section class="pagetitlewrap">
<div data-speed="150" class="parallaxbg bgwithparallax"></div>
<div style="background-color:#99BC56;" class="bgwithparallax_overlay"></div>

<div class="row pagetitle">
<h1 style="">{{propiedad[0].titulo}}</h1>
<div class="breadcrumbwrap"><a href="{{constant('ROOT')}}">Inicio</a>&nbsp; &nbsp;/&nbsp; &nbsp;<a href="http://localhost/nuevohogar/inmobiliaria/publicaciones.html">Inmobiliaria</a></div>
</div>
</section>
{%if not propiedad %}
<section class="span12">
<div class="wp-section">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="text-center">
<h2>Ups! la propiedad solicitada no se puede mostrar</h2>
<h1 class="font-xl">
4<i class="fa fa-times-circle-o"></i>4
</h1>
<p>
Ha ocurrido un error durante el proceso y no podemos mostrar la información de la propiedad seleccionada
<br>
<a href="" class="link-back">Click aquí para regresar a la página anterior</a>
</p>
<span class="clearfix"></span>
</div>
</div>
</div>
</div>
</div>
</section>
{% else %}
<section class="stretchme_on_mobile " style="position:relative" id="firstcontentcontainer">
<section class="container">
<section class="row">
<section class="span12 woocommerce">
<section class="wpb_wrapper pagewrapright">
<div class="vc_row wpb_row vc_row-fluid product">
<div class="wpb_column vc_column_container vc_col-sm-3">
<img src="{{constant('ROOT')}}{{propiedad[0].imagen}}" alt="{{propiedad[0].descripcion}}"/>
<div class="widget-2 widget velocitySocials" id="velocitysocials-4">
<div class="footertitle"><h4>Compartir</h4></div>
<div class="social">
    <ul>
        <li><a data-placement="bottom" data-animation="false" data-rel="tooltip" class="so_facebook" href="#" data-original-title="Facebook">
                <div class="s_icon social-facebook"></div></a>
        </li>
        <li><a data-placement="bottom" data-animation="false" data-rel="tooltip" class="so_twitter" href="#" data-original-title="Twitter">
                <div class="s_icon social-twitter"></div></a>
        </li>
        <li><a data-placement="bottom" data-animation="false" data-rel="tooltip" class="so_gplus" href="#" data-original-title="Google+">
                <div class="s_icon social-gplus"></div></a>
        </li>
    </ul>
</div><div class="clear"></div></div>
</div>

<div class="wpb_column vc_column_container vc_col-sm-6">
	<div class="wpb_text_column wpb_content_element ">
			<div class="footertitle">
<h2>{{propiedad[0].titulo}}</h2>
<div class="wp-block property list no-border">
<div class="wp-block-content clearfix">
<small><i class="fa fa-map-marker"></i> Municipio {{propiedad[0].municipio}}, {{ propiedad[0].zona }}</small>
<h4 class="content-title">{{propiedad[0].Tipo}}, {{propiedad[0].operacion}}</h4>
<!--p class="description mb-15">{{propiedad[0].descripcion}}</p-->
<div class="">
<a class="btn btn-b-dark" href="#"><i class="fa fa-phone"></i> (0212)735 1320 &bullet; (0414)262 4817 </i></a>
</div>
<br />
<section class="gallery-images">
<img src="{{constant('ROOT')}}{{propiedad[0].imagen}}" alt=""/>
{% for publicacion in propiedad[0].imagenes %}
    <img src="{{constant('ROOT')}}{{publicacion.imagen}}" alt=""/>
{% endfor %}
</section>
<br/>
</div>

<div class="vc_row wpb_row vc_inner vc_row-fluid bottom0"><div class="wpb_column vc_column_container vc_col-sm-2"><div class="wpb_wrapper"><div data-pie-color="#ff675b" data-pie-units="" data-pie-label-value="{{propiedad[0].mts2}}" data-pie-value="75" class="vc_pie_chart wpb_content_element bottom0 vc_ready"><div class="wpb_wrapper"><div class="vc_pie_wrapper" style="width: 216px;"><span style="border-color: rgb(255, 103, 91); width: 216px; height: 216px;" class="vc_pie_chart_back"></span><span class="vc_pie_chart_value" style="width: 216px; height: 216px; line-height: 216px;">34973</span><canvas height="216px" width="216px"></canvas></div><h4 class="wpb_heading wpb_pie_chart_heading">Mts2</h4></div></div>
	<div class="wpb_text_column wpb_content_element  centered">
		
	</div>
</div></div><div class="wpb_column vc_column_container vc_col-sm-2"><div class="wpb_wrapper"><div data-pie-color="#ff9900" data-pie-units="" data-pie-label-value="{{propiedad[0].habitaciones}}" data-pie-value="{{propiedad[0].habitaciones}}" class="vc_pie_chart wpb_content_element bottom0 vc_ready"><div class="wpb_wrapper"><div class="vc_pie_wrapper" style="width: 216px;"><span style="border-color: rgb(255, 153, 0); width: 216px; height: 216px;" class="vc_pie_chart_back"></span><span class="vc_pie_chart_value" style="width: 216px; height: 216px; line-height: 216px;">12145</span><canvas height="216px" width="216px"></canvas></div><h4 class="wpb_heading wpb_pie_chart_heading">Hab.</h4></div></div>
	<div class="wpb_text_column wpb_content_element  centered">
		
	</div>
</div></div><div class="wpb_column vc_column_container vc_col-sm-2"><div class="wpb_wrapper"><div data-pie-color="#6ab165" data-pie-units="" data-pie-label-value="{{propiedad[0].baños}}" data-pie-value="{{propiedad[0].baños}}" class="vc_pie_chart wpb_content_element bottom0 vc_ready"><div class="wpb_wrapper"><div class="vc_pie_wrapper" style="width: 216px;"><span style="border-color: rgb(106, 177, 101); width: 216px; height: 216px;" class="vc_pie_chart_back"></span><span class="vc_pie_chart_value" style="width: 216px; height: 216px; line-height: 216px;">56736</span><canvas height="216px" width="216px"></canvas></div><h4 class="wpb_heading wpb_pie_chart_heading">Baños</h4></div></div>
	<div class="wpb_text_column wpb_content_element  centered">
		
	</div>
</div></div><div class="wpb_column vc_column_container vc_col-sm-2"><div class="wpb_wrapper"><div data-pie-color="#0088cc" data-pie-units="" data-pie-label-value="{{propiedad[0].puestos_estacionamiento}}" data-pie-value="{{propiedad[0].puestos_estacionamiento}}" class="vc_pie_chart wpb_content_element bottom0 vc_ready"><div class="wpb_wrapper"><div class="vc_pie_wrapper" style="width: 216px;"><span style="border-color: rgb(0, 136, 204); width: 216px; height: 216px;" class="vc_pie_chart_back"></span><span class="vc_pie_chart_value" style="width: 216px; height: 216px; line-height: 216px;">4</span><canvas height="216px" width="216px"></canvas></div><h4 class="wpb_heading wpb_pie_chart_heading">Est.</h4></div></div>
	<div class="wpb_text_column wpb_content_element  centered">
	</div>
</div></div></div>
<div class="buttom-action-property">
    <a class="btn btn-light" data-target="#loginModal" data-toggle="modal" href="#"><i class="fa fa-envelope"></i> Enviar por email</a>
    <a class="btn btn-light link-back" href="#"><i class="fa fa-arrow-left"></i> Regresar al listado</a>
</div>
</div>
</div>
	</div>
</div>
<div class="wpb_column vc_column_container vc_col-sm-3"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<!-- FILTERS -->
<div class="footertitle"><h4>Escribir al vendedor</h4></div>
<div class="panel-body">
<form class="form-light" role="form" method="post" id="contacto">
<label>Nombre(s) y Apellido(s)</label>
<input type="hidden" name="url" value="{{url}}">
<input type="hidden" name="titulo" value="{{propiedad[0].titulo}}">
<input type="text" class="form-control" hidefocus="true" name="nombre">
<label>Teléfono</label>
<input type="text" class="form-control" hidefocus="true" name="telefono">
<label>E-mail</label>
<input type="text" class="form-control" hidefocus="true" name="email">
<label>Mensaje</label>
<textarea class="form-control" style="height:100px;" name="mensaje">Estoy interesado en esta propiedad y requiero mayor información. Saludos</textarea>
<div class="row">
</div>
<button type="submit" class="btn btn-base btn-icon btn-icon-right btn-send"><i class="fa fa-send"></i> Enviar</i></button>
</form>
<div id="dialog-contacto-resultado" class="alert"></div>
</div>
</div>
</div>
</div></div>
</div>
</section>
<div class="wpb_wrapper pagewrapright">
<div class="wpb_row vc_row-fluid product">
<div class="woocommerce-tabs wc-tabs-wrapper">
<ul class="tabs wc-tabs">
<li class="description_tab active">
<a href="#tab-description">Description</a>
</li>
</ul>
<div id="tab-description" class="panel entry-content wc-tab" style="display: block;">

<h2>Descripción</h2>
<p>{{propiedad[0].descripcion}}</p>
</div>
<div id="tab-reviews" class="panel entry-content wc-tab">
<div id="reviews">
<div id="comments">
<h2>Detalles</h2>

<table class="table table-bordered table-striped table-hover table-responsive">
<tbody>
<tr>
<td><strong>Superficie Total:</strong> {{propiedad[0].mts2}} Mts2</td>
<td><strong>Habitaciones:</strong> {{propiedad[0].habitaciones}}</td>
<td><strong>Habitaciones:</strong> {{propiedad[0].baños}}</td>
</tr>
<tr>
<td><strong>Puestos Estacionamiento:</strong> {{propiedad[0].puestos_estacionamiento}}</td>
<td><strong>Maleteros:</strong> {{propiedad[0].maleteros}}</td>
<td><strong>Zona:</strong> {{propiedad[0].zona}}</td>
</tr>
</tbody>
</table>

</div>


<div class="clear"></div>
</div>
</div>
</div>   
</div>
</div>
</section>
</section>
</section>
</section>
<section id="modals">
<!-- Login Modal -->
<div class="modal login fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div id="login-box" class="wp-block wp-block-login default user-form no-margin visible"> 
<div class="form-header">
<h2>Compartir con un amigo</h2>
</div>
<div class="form-body">
<form method="POST" action="#" id="frmCompartir">
<fieldset>
<section>
<div class="form-group">
<label class="input">
    <input type="hidden" name="url" value="{{url}}">
    <input type="hidden" name="titulo" value="{{propiedad[0].titulo}}">
    <input type="text" class="required" name="de" placeholder="Escriba su nombre aquí">
</label>
</div>     
</section>
<section>
<div class="form-group">
<label class="input">
    <input type="text" class="required email form-control" name="email" placeholder="Escriba el correo electrónico del destinatario">
</label>
</div>     
</section> 
<section>
<div class="form-group">
<textarea name="mensaje" style="height:100px;" class="form-control">Encontré esta publicación en administradoranuevohogar.com.ve y pensé que te podía interesar.</textarea>
</div>
</section>
<section>
<a href="#" class="btn btn-b-alt" data-dismiss="modal" >Cancelar</a>
<a href="#" class="btn btn-alt" style="color:#fff" id="share-email">Enviar por email</a>
</section>
</fieldset>  
</form>
<div id="dialog-compartir-resultado" class="alert invisible"><img src="{{constant('ROOT')}}images/loading-small.gif"</div>
</div>
<div class="form-footer">
<p>{{propiedad[0].titulo}}</p>
</div>
</div>
</div>
</div>
</div>
<!-- /Logan Modal -->
</section>
{% endif %}
{% endblock %}
{% block js %}
{{ parent() }}
<script type="text/javascript">
jQuery(document).ready(function(){
jQuery(".menu-item").removeClass("current-menu-item page_item");
jQuery(".inmobiliaria").addClass("current-menu-item page_item ");
     
function callback(obj) {
setTimeout(function() {
jQuery(obj).modal("hide");
}, 3000);
};
jQuery('select[name="id_ciudad"] > option[value="{{data.id_ciudad}}"]').attr('selected', 'selected');
jQuery('select[name="id_operacion"] > option[value="{{data.id_operacion}}"]').attr('selected', 'selected');
jQuery('select[name="id_inmobiliaria_tipo"] > option[value="{{data.id_inmobiliaria_tipo}}"]').attr('selected', 'selected');
jQuery('select[name="habitaciones"] > option[value="{{data.habitaciones}}"]').attr('selected', 'selected');
jQuery('a.link-back').click(function(){history.back();return false;});
jQuery(".so_facebook").click(function() {
window.open(
"https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(location.href),
"facebook-share-dialog",
"width=626,height=436");
return false;
});
jQuery(".so_gplus").click(function() {
window.open("https://plus.google.com/share?url=" + encodeURIComponent(location.href),
"Compartir en Google+",
"width=626, height=436");
return false;
});
jQuery(".so_twitter").click(function() {
window.open(
"https://twitter.com/intent/tweet?text=Te recomiendo mirar esta propiedad publicada en administradoranuevohogar.com.ve&amp;url=" + encodeURIComponent(location.href),
"twitter-share-dialog",
"width=626,height=436");
return false;
});
jQuery("#share-email").click(function() {
jQuery("#frmCompartir").submit();
});
jQuery("#contacto").validate({
    rules: { 
        nombre: "required",
        email: {
            required: true,
            email: true
        },
        telefono: "required",
        mensaje: {
            required: true,
            minlength: 10
        }
    },
    messages: { 
        nombre : "Ingrese su nombre y apellido",
        email : {
            required: "Ingrese su e-mail",
            email: "Ingrese un e-mail válido"
        },
        telefono: "Ingrese un número de contacto",
        mensaje: {
            required: "Ingrese el contenido del mensaje",
            minlength: "El mensaje debe contener más de 10 caracteres"
        }
    },
    submitHandler: function(form) {
        //consultarPrecioProducto(form);
        jQuery("#contacto").ajaxSubmit({
            target: "#dialog-contacto-resultado",
            method: "post",
            url: "{{constant('ROOT')}}includes/json.php?accion=contacto_propiedad",
            resetForm: true,
            beforeSubmit: function() {
                jQuery("#contacto").fadeOut();
            },
            success: function() {
                jQuery("#dialog-contacto-resultado").removeClass("alert-danger").addClass(" alert-success");
                jQuery("#dialog-contacto-resultado").fadeIn();
            },
            error: function() {
                jQuery("#dialog-contacto-resultado").removeClass(" alert-success").addClass("alert-danger");
                jQuery("#dialog-contacto-resultado").fadeIn();
            }
        });

            }
});
jQuery("#frmCompartir").validate({
    rules: {
        de:"required",
        email:{
            required:true,
            email:true},
        mensaje:{
            required:true,
            minlength:10}
        },
    messages: {
        de:"Introduzca su nombre y apellido",
        email:{
            required:"Introduzca el email del destinatario",
            email:"Introduzca un email válido"},
        mensaje:{
            required:"Escriba un mensaje",
            minlength:"Debe escribir más de 10 caracteres"}
        },
    submitHandler: function(form) {
        jQuery("#frmCompartir").ajaxSubmit({
            target: "#dialog-compartir-resultado",
            method: "post",
            url: "{{constant('ROOT')}}includes/json.php?accion=compartir_propiedad",
            resetForm: true,
            beforeSubmit: function() {
                jQuery("#frmCompartir").fadeOut();
                jQuery("#dialog-compartir-resultado").removeClass("invisible");
            },
            success: function() {
                jQuery("#dialog-compartir-resultado").removeClass("alert-danger").addClass(" alert-success");
                jQuery("#dialog-compartir-resultado").fadeIn();
                jQuery("#dialog-compartir-resultado").effect('pulsate', '', 100, callback("#loginModal")).fadeOut().fadeIn();
            },
            error: function() {
                jQuery("#dialog-compartir-resultado").removeClass(" alert-success").addClass("alert-danger");
                jQuery("#dialog-compartir-resultado").fadeIn();
            }
        });
    }
});
});
</script>
{% endblock %}